body {
  font-family: "Comfortaa", cursive;
  background: url(../img/ghibli-inspired-background-light.png) no-repeat center
    center fixed;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

[data-bs-theme="dark"] body {
  background: url(../img/ghibli-inspired-background-dark.png) no-repeat center
    center fixed;
  background-size: cover;
}

input[type="search"]:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
  outline: none;
}

h1 {
  cursor: pointer;
  transition: color 0.3s ease;
}

h1:hover {
  color: #6c757d;
}

footer a {
  transition: color 0.3s ease;
}

.hover-text:hover {
  color: var(--bs-success) !important;
}
